<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>/manager/index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.longlongyu.add.BlogListener</listener-class>
  </listener>
  
  <session-config>
    <session-timeout>10</session-timeout><!--session10分钟后超时销毁-->
  </session-config>
  
  <servlet>
  	<servlet-name>index</servlet-name>
  	<jsp-file>/manager/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>